name: Build and Package

on:
  push:
    branches: [main]
  pull_request:
    branches: [ main ]
  release:
    types: [published]
 
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Release]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1
    
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
      with:
        nuget-version: 'latest'
    
    - name: Restore NuGet packages
      run: nuget restore openopenwf.sln
    
    - name: Build solution
      run: msbuild openopenwf.sln /p:Configuration=${{ matrix.configuration }}
    
    # 生成NSIS安装脚本
    - name: Generate NSIS Script
      shell: powershell
      run: |
        $nsisContent = '; openopenwf Installer' + "`n"
        $nsisContent += '!include "MUI2.nsh"' + "`n"
        $nsisContent += 'Unicode True' + "`n"
        $nsisContent += 'ManifestDPIAware true' + "`n`n"
        $nsisContent += '; 基础配置' + "`n"
        $nsisContent += 'Name "openopenwf"' + "`n"
        $nsisContent += 'OutFile "x64\\Release\\openopenwf-setup.exe"' + "`n"
        $nsisContent += 'InstallDir "$PROGRAMFILES64\\openopenwf"' + "`n"
        $nsisContent += 'RequestExecutionLevel admin' + "`n`n"
        $nsisContent += '; UI设置' + "`n"
        $nsisContent += '!define MUI_ABORTWARNING' + "`n"
        $nsisContent += '!insertmacro MUI_PAGE_WELCOME' + "`n"
        $nsisContent += '!insertmacro MUI_PAGE_DIRECTORY' + "`n"
        $nsisContent += '!insertmacro MUI_PAGE_INSTFILES' + "`n"
        $nsisContent += '!insertmacro MUI_PAGE_FINISH' + "`n"
        $nsisContent += '!insertmacro MUI_UNPAGE_CONFIRM' + "`n"
        $nsisContent += '!insertmacro MUI_UNPAGE_INSTFILES' + "`n"
        $nsisContent += '!insertmacro MUI_LANGUAGE \"English\"' + "`n`n"
        $nsisContent += 'Section \"MainSection\" SEC01' + "`n"
        $nsisContent += '  SetOutPath \"$INSTDIR\"' + "`n"
        $nsisContent += '  File /r \"x64\\Release\\*\"' + "`n"
        $nsisContent += '  ; 关键修复：WriteUninstaller必须在Section内' + "`n"
        $nsisContent += '  WriteUninstaller \"$INSTDIR\\uninstall.exe\"' + "`n`n"
        $nsisContent += '  ; 快捷方式' + "`n"
        $nsisContent += '  CreateShortCut \"$DESKTOP\\openopenwf.lnk\" \"$INSTDIR\\openopenlauncher.exe\"' + "`n"
        $nsisContent += '  CreateDirectory \"$SMPROGRAMS\\openopenwf\"' + "`n"
        $nsisContent += '  CreateShortCut \"$SMPROGRAMS\\openopenwf\\openopenwf.lnk\" \"$INSTDIR\\openopenlauncher.exe\"' + "`n"
        $nsisContent += '  CreateShortCut \"$SMPROGRAMS\\openopenwf\\Uninstall.lnk\" \"$INSTDIR\\uninstall.exe\"' + "`n"
        $nsisContent += 'SectionEnd' + "`n`n"
        $nsisContent += 'Section \"Uninstall\"' + "`n"
        $nsisContent += '  ; 清理文件' + "`n"
        $nsisContent += '  Delete \"$DESKTOP\\openopenwf.lnk\"' + "`n"
        $nsisContent += '  RMDir /r \"$SMPROGRAMS\\openopenwf\"' + "`n"
        $nsisContent += '  Delete \"$INSTDIR\\*.*\"' + "`n"
        $nsisContent += '  RMDir /r \"$INSTDIR\\*\"' + "`n"
        $nsisContent += '  RMDir \"$INSTDIR\"' + "`n"
        $nsisContent += 'SectionEnd' + "`n"
        
        $nsisContent | Out-File -FilePath "$env:GITHUB_WORKSPACE\\setup.nsi" -Encoding UTF8
      env:
        GITHUB_WORKSPACE: ${{ github.workspace }}
    
    # 编译NSIS安装包
    - name: Compile Installer
      run: |
        makensis "${{ github.workspace }}\setup.nsi"
    
    # 上传安装包制品 
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: Installer
        path: |
          ${{ github.workspace }}\x64\Release\openopenwf-setup.exe